.comment-wrapper {
    flex: 1 1 auto;
    min-width: 1px;
    word-wrap: break-word;
    width: 100%;
}

.comment-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 4px;
    gap: 5px;
}

.author-name {
    color: rgba(0, 0, 0, 0.45)
}